.button {
    -moz-appearance: button;
    /* Firefox */
    -webkit-appearance: button;
    /* Safari and Chrome */
    padding: 10px;
    margin: 10px;
    width: 70px;
}
.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 200px;
    height: 100px;
    text-align: center;
    margin: 10px;
    padding-top: 25px;
}
.dragover {
    border: 5px dashed blue;
}

.company-logo {
    width: 140px;
    height: 140px;
}
