<form>
    <div class="row">
        <h1>Create new company</h1>
    </div>
    <div class="form-group">
        <div ngf-drop
             ngf-select
             ng-model="$ctrl.company.file"
             class="drop-box"
             ngf-drag-over-class="'dragover'"
             ngf-multiple="false"
             ngf-allow-dir="true"
             accept="image/*"
             ngf-pattern="'image/*'">Drop your logo image here or click to upload</div>
    </div>
    <div class="form-group">
        <label for="companyName">Name</label>
        <input ng-model="$ctrl.company.name"
               class="form-control"
               type="text"
               id="companyName"
               class="form-control"
               placeholder="Company Name">
    </div>
    <div class="form-group">
        <label for="companyDescription">Description</label>
        <input ng-model="$ctrl.company.description"
               type="text"
               id="companyDescription"
               class="form-control"
               placeholder="Company Description">
    </div>
    <div class="form-group">
        <button type="button"
                class="form-control"
                ng-click="$ctrl.save()">Create Company</button>
    </div>
</form>
