<div class="dropdown">
    <button class="btn btn-default dropdown-toggle"
            type="button"
            id="companyDropdown"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="true">Companies <span class="caret"></span>
    </button>
    <ul class="dropdown-menu"
        aria-labelledby="dropdownMenu1">
        <li ng-repeat="company in $ctrl.companies"><a href="http://local.contracts.test/#!companies/{{ company.id }}">{{ company.name }}</a></li>
    </ul>
</div>
