<div ng-init="$ctrl.onInitPage()">
    <div class="page-header">
        <h1><img src="http://resource.contracts.test/company/logo/{{$ctrl.company.id}}/logo.png" alt="Company Logo" class="img-circle company-logo"> {{ $ctrl.company.name }} <small>contracts</small></h1>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="page-header">
                <h2><small>Menú</small></h2>
            </div>
            <ul class="nav nav-pills nav-stacked" ng-repeat="link in $ctrl.links">
                <li class="{{ link.class }}"><a href="{{ link.url }}">{{ link.title }}</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="page-header">
                <h2><small>Active Contracts</small></h2>
            </div>
            <!-- Desarrollar tabla de contractos -->
            <div ng-if="!$ctrl.hasContracts()">
                <div>
                    <h3 class="text-center"><small>There are not active contracts</small></h3>
                </div>
            </div>
            <div ng-if="$ctrl.hasContracts()">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="contract in $ctrl.contracts">
                            <th scope="row">1</th>
                            <td>{{ contract.title }}</td>
                            <td>{{ contract.description }}</td>
                            <td>
                                <div class="text-center">
                                    <a class="btn btn-default" href="#" role="button">Edit</a>
                                    <a class="btn btn-default" href="#" role="button">View</a>
                                    <a class="btn btn-danger" href="#" role="button">Delete</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
