<form>
    <div class="row">
        <h1>Create new contract</h1>
    </div>
    <div class="form-group">
        <div ngf-drop
             ngf-select
             ng-model="$ctrl.contract.file"
             class="drop-box"
             ngf-drag-over-class="'dragover'"
             ngf-multiple="false"
             ngf-allow-dir="true"
             accept="application/pdf"
             ngf-pattern="'application/pdf'">Drop your contract here or click to upload</div>
    </div>
    <div class="form-group">
        <label for="contractTitle">Title</label>
        <input ng-model="$ctrl.contract.title"
               class="form-control"
               type="text"
               id="contractTitle"
               class="form-control"
               placeholder="Contract Title">
    </div>
    <div class="form-group">
        <label for="contractDescription">Description</label>
        <input ng-model="$ctrl.contract.description"
               type="text"
               id="contractDescription"
               class="form-control"
               placeholder="Contract Description">
    </div>
    <div class="form-group">
        <button type="button"
                class="form-control"
                ng-click="$ctrl.save()">Create Contract</button>
    </div>
</form>
