<form>
    <div class="page-header">
        <h1 class="text-center"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Contract App Login</h1>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="form-group">
            <label for="userEmail">Email</label>
            <input ng-model="$ctrl.user.email"
                   class="form-control"
                   type="text"
                   id="userEmail"
                   class="form-control"
                   placeholder="Email">
        </div>
        <div class="form-group">
            <label for="userPassword">Password</label>
            <input ng-model="$ctrl.user.password"
                   type="password"
                   id="userPassword"
                   class="form-control"
                   placeholder="Password">
        </div>
        <div class="form-group">
            <button type="button"
                    class="form-control btn btn-primary"
                    ng-click="$ctrl.login()">Login</button>
        </div>
        <div class="form-group">
            If you don't have an account, please sign up <a href="#">here</a>.
        </div>
    </div>
    <div class="col-md-2"></div>
</form>
