<div>
    <div class="row">
        <div class="col-md-1">
            <img src="https://picsum.photos/80/80" class="img-rounded" alt="{{ $ctrl.company.logo }}">
        </div>
        <div class="col-md-11">
            <h1>{{ $ctrl.company.name }}</h1>
        </div>
    </div>
    <p>{{ $ctrl.company.description }}</p>

    <h2>Contracts</h2>
    <div ng-if="!$ctrl.hasContracts()">
        <p>There are not contracts created.</p>
    </div>
    <div ng-if="$ctrl.hasContracts()"
         ng-repeat="contract in $ctrl.company.contracts">
        <h1>{{ contract.title }}</h1>
        <p>{{ contract.description }}</p>
        <span>Created by <small>{{ contract.created_by.name }}</small></span>
    </div>
</div>
